.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/functions/sandbox.js
src/data/image.jpg
src/data/imageCropped2.jpg
src/data/imageCropped3.jpg
src/data/sample1.png
src/data/sample2.jpg
src/data/sample3.jpg
src/data/sample5.jpg
src/data/sample4.jpg
src/data/sample7.jpg
src/data/sample6.jpg
src/data/sample8.jpg
src/data/sample9.jpg
src/data/sample10.jpg
package-lock.json
package-lock.json
package-lock.json
